html, body {
  margin: 0;
  padding: 0;
  background: #fcfbf6;
  overflow-y: auto;
  font-family: 'karaoke', Inter, sans-serif;
  overflow-x: hidden;
  user-select: none;

}

@font-face {
  font-family: 'karaoke';
  src: url('../assets/fonts/LTKaraoke-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
