.todo-column {
    background-color: #40593e;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .todo-column h3 {
    margin-bottom: 0.75rem;
    font-weight: bold;
  }
  
  .todo-column li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  